
<h1>Duis aute irure!</h1>

<p>
    One night something really <u>@Model.Adjective</u>  happened at the library. The characters in the stories started
    <u>@Model.Verb_ing1</u> from their books!
    <u>@Model.BookChar1</u> climbed into Charlotte's Web and started <u>@Model.Verb_ing2</u> with Wilbur
    the Pig! <u>@Model.BookChar2</u> wandered into an encyclopedia and ended up lost in <u>@Model.HomeTown</u>!
    The craziest part was when <u>@Model.BookChar3</u> wandered into <u>@Model.Title</u> and said, “<u>@Model.Name1</u>,
    I don't think we're in <u>@Model.State</u> any more.”
    Then <u>@Model.Name2</u> the librarian walked in and said, “<u>@Model.Onomonopia</u>! Everybody back in place!”
    The characters <u>@Model.PastVerb</u> around the room. Just in time! The students in grade <u>@Model.Number</u>
    came in to get books for their reports, but it was safe. All the characters were back in the books where
    they belonged.
</p>

<!-- public string Adjective { get; set; }
        public string Verb_ing1 { get; set; }
        public string BookChar1 { get; set; }
        public string Verb_ing2 { get; set; }
        public string BookChar2 { get; set; }
        public string HomeTown { get; set; }
        public string BookChar3 { get; set; }
        public string Title { get; set; }
        public string Name1 { get; set; }
        public string State { get; set; }
        public string Name2 { get; set; }
        public string Onomonopia { get; set; }
        public string PastVerb { get; set; }
        public int Number { get; set; }

    -->
